#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

* A database is a collection of data that is organized in a way that enables easy retrieval, manipulation, and management of information. Databases are used in a wide variety of applications, including business, finance, healthcare, and more.

* There are two main types of databases: SQL and NoSQL. SQL databases are relational databases that store data in tables with predefined schemas. Data is stored in rows and columns, and tables can be joined together to extract information. SQL databases use Structured Query Language (SQL) to query and manipulate data.

* NoSQL databases, on the other hand, are non-relational databases that do not use predefined schemas. Data is stored in key-value pairs, document structures, or graph structures. NoSQL databases are designed to be flexible and scalable, making them a good choice for handling large amounts of unstructured data.

| --- | SQL | NoSQL |
| --- | --- | --- |
| **Schema** | SQL databases use a predefined schema to structure data | NoSQL databases do not have a predefined schema. |
| **Data model** | SQL databases use a relational data model | NoSQL databases use different data models such as key-value, document-based, column-family, and graph-based models |
| **Query language** | SQL databases use SQL to query and manipulate data | NoSQL databases use a variety of query languages, such as JavaScript Object Notation (JSON), BSON, and Cassandra Query Language (CQL). |
| **Scalability** | NoSQL databases are designed to be highly scalable and can handle large amounts of data and high traffic loads | SQL databases can be more difficult to scale. |
| **ACID compliance** | SQL databases are typically ACID compliant, meaning that they guarantee transactions are atomic, consistent, isolated, and durable | NoSQL databases may or may not be ACID compliant, depending on the database type and configuration. |

# --------------------------------------------------------

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL stands for Data Definition Language, which is a set of SQL commands that are used to define and manage the structure of database objects such as tables, indexes, views, and constraints. DDL statements are used to create, modify, and delete database objects, as well as to grant or revoke permissions on those objects.

* **CREATE:** The CREATE statement is used to create new database objects, such as tables, views, indexes, and stored procedures.

In [ ]:
CREATE TABLE users (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100)
);

* **DROP:** The DROP statement is used to remove an existing database object.

In [ ]:
DROP TABLE users;

* **ALTER:** The ALTER statement is used to modify an existing database object, such as a table or a view. For example, the following SQL statement adds a new column called "age" to the "users" table:

In [ ]:
ALTER TABLE users ADD COLUMN age INT;

* **TRUNCATE:** The TRUNCATE statement is used to delete all rows from a table, but the table structure remains intact. For example, the following SQL statement deletes all rows from the "users" table:

In [ ]:
TRUNCATE TABLE users;

# ----------------------------------------------------

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate and modify the data stored in a database. DML statements are used to insert, update, delete, and retrieve data from a database.

* **INSERT:** This statement is used to add new rows to a table.
    * For example, the following SQL statement inserts a new record into a table named "users" with the values "Madhan" for the name column, "madhan@example.com" for the email column, and 25 for the age column

In [ ]:
INSERT INTO users (name, email, age) VALUES ('Madhan', 'madhan@example.com', 25);

* **UPDATE:** The UPDATE statement is used to modify existing data in a table.
    * For example, the following SQL statement updates the email of the user with the name "Madhan" to "madhankumar@example.com":

In [ ]:
UPDATE users SET email = 'madhankumar@example.com' WHERE name = 'Madhan';

* **DELETE:** The DELETE statement is used to remove existing data from a table.
    * For example, the following SQL statement deletes the user with the name "Madhan" from the "users" table:

In [ ]:
DELETE FROM users WHERE name = 'Madhan';

# --------------------------------------------------------

#### Q4. What is DQL? Explain SELECT with an example.

* DQL stands for **Data Query Language**, which is a subset of SQL used to retrieve data from a database. DQL statements are used to query the database and retrieve specific data based on specified criteria. The most commonly used DQL statement is SELECT.
---
* SELECT is used to retrieve data from one or more tables in a database. It allows you to specify the columns to retrieve, the table or tables to retrieve them from, and any conditions that the retrieved data must meet. Here's an example of a SELECT statement:

In [ ]:
#Example
SELECT name, email FROM users WHERE age > 25;

# ----------------------------------------------------

#### Q5. Explain Primary Key and Foreign Key.

* **Primary key** is a column or a set of columns in a table that uniquely identifies each row in that table. It serves as a unique identifier for each record in the table and ensures that each record is distinct from all others. The primary key must be unique and cannot contain null values. Typically, the primary key is created when the table is first defined and is used as the basis for any foreign key relationships.
---
* **Foreign key**, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables and is used to ensure that data is consistent between the two tables. The foreign key column in one table must match the primary key column in the other table. A foreign key can also be null, which means that the record in the table can exist without a corresponding record in the related table.
---
---
* **For example**, consider two tables, "customers" and "orders". The "customers" table might have a primary key of "customer_id", while the "orders" table would have a foreign key of "customer_id" that refers to the primary key in the "customers" table. This relationship allows the orders to be linked to a specific customer.

In [4]:
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    age INT
);
## ------------------------
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    order_name VARCHAR(50),
    instructions VARCHAR(100),
    FOREIGN KEY (customer_id) REFERENCES customers(customers)
);

# --------------------------------------------------

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

* To connect MySQL to Python, we need to have the **mysql-connector-python** library installed. We can install it using pip, like this:

In [5]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\merit\appdata\roaming\python\python39\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\merit\appdata\roaming\python\python39\site-packages (from mysql-connector-python) (3.20.3)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

* Once we have installed the library, we can connect to a MySQL database using the following Python code:

In [7]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="admin",
  password="admin",
  database="test"
)

cursor = db.cursor()

cursor.execute("SELECT * FROM test_table")

result = cursor.fetchall()

* **The cursor()** method is used to create a cursor object, which is used to execute SQL queries and fetch the results. 
* **The execute()** method is used to execute a SQL query on the MySQL server. It takes a SQL query as a parameter and returns nothing.

# ----------------------------------------------------

#### Q7. Give the order of execution of SQL clauses in an SQL query.

* In a typical SQL query, the clauses are executed in the following order:
    * **FROM:** Specifies the table(s) to retrieve data from.
    * **JOIN:** Combines rows from two or more tables based on a related column between them.
    * **WHERE:** Filters rows based on a specified condition or set of conditions.
    * **GROUP BY**: Groups rows based on a specified column or set of columns.
    * **HAVING:** Filters groups based on a specified condition or set of conditions.
    * **SELECT:** Selects the columns to include in the result set.
    * **DISTINCT:** Removes duplicates from the result set.
    * **ORDER BY:** Sorts the result set by one or more columns.
    * **LIMIT:** Limits the number of rows returned in the result set.